img{
  margin-top: 8px;
  height: 44px;
}
.image-column {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0 !important;
}

.text-column {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0 !important;
}

.text-column ion-label {
  margin-left: 10px;
  font-size: inherit;
}
