
.table-container {
  overflow-x: auto;

  div {

  }
}


table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 8px;
  border: 1px solid #6200ee;
}

.sticky-cell {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: var(--ion-color-tertiary);


}
.fixed-row {
  position: sticky;
  top: 0;

}
tbody{
  background-color: white;
  color: black;
}
thead tr{
  background-color: #3700b3;
}
.boton-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 24px; /* Aumenta el tamaño del botón */
  font-size: 16px; /* Ajusta el tamaño del texto */
  background-color: #03DAC5; /* Cambia el color de fondo del botón */
  color: black; /* Cambia el color del texto */
  border-radius: 4px; /* Hace que el botón tenga forma circular */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Agrega una sombra al botón */
  border: none; /* Quita el borde del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.contenedor {
  width: 300px; /* Establece el ancho del div */
  height: 200px; /* Establece la altura del div */
  position: fixed; /* Establece la posición del div */
  top: 50%; /* Coloca el div a la mitad de la página verticalmente */
  left: 50%; /* Coloca el div a la mitad de la página horizontalmente */
  transform: translate(-50%, -50%); /* Centra el div */
  background-color: #fff; /* Establece el color de fondo del div */
  border: 1px solid #000; /* Establece el borde del div */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Agrega una sombra al div */
}

.resaltar {
  background-color: greenyellow !important;
  color: black;
}
.recreo{
  background-color: var(--ion-color-tertiary-contrast);
  color:  black;
}
.de-guardia{
  color: #03DAC5
}


@media (max-width: 420px) {
  table {
    font-size: 7px;
  }
}
